.worklist {
  margin-top: 2em;
  @include clearfix;
  article {
    width: 100%;
    @include breakpoint($bp-medium) {
     width: calc(50% - 0.65em);
    }
    max-width: none;
    float: left;
    margin-bottom: 1.3em;
    line-height: 0;
    &:nth-child(odd) {
      @include breakpoint($bp-medium) {
        margin-right: 0.65em;
        margin-left: 0;
      }
    }
    &:nth-child(even) {
      @include breakpoint($bp-medium) {
        margin-left: 0.65em;
        margin-right: 0;
      }
    }
  }
}