	{% assign navurl = page.url | remove: 'index.html' %}
	<ul>
    {% for item in include.nav %}
		<li>
      <a href="{{ item.url }}" class="{% if item.url == navurl %}active{% endif %}">{{ item.text }}</a>
    </li>
    {% endfor %}
    <li>
      <a href="mailto:michaeldmcqueen@gmail.com?subject=Hello Harrier">
        <img src="/assets/images/mail.svg" />
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/michaeldmcqueen/" target="_blank">
        <img src="/assets/images/Instagram.svg" />
      </a>
    </li>
	</ul>
