.logo {
  text-align: center;
  @include breakpoint($bp-medium) {
    @include grid-span(3,1,$gutter:0);
  }
}
h1.intro {
  @include breakpoint($bp-medium) {
    @include grid-span(5,5.5);
  }
}
nav {
  @include breakpoint($bp-medium) {
    @include grid-span(2,11);
  }
}

header[role="banner"] {
  @include clearfix;
  padding: 1em 0 1.5em;
  border-bottom: 1px solid #e8e8e8;
}